@{
    ViewData["Title"] = "Welcome, new user!";
}
<div class="choose-character-page">
    <div class="container">
        <div class="header">
            <h1 class="title">Welcome!</h1>
            <p class="subtitle">Let's set up your character to begin.</p>
        </div>
        <div class="characters-grid" id="charactersGrid"></div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>