@model FirstMVC.Models.Characters
@{
    ViewData["Title"] = "Edit Character";
}
<h1>Edit Character</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-area="Admin" asp-controller="Character" asp-action="Edit" method="post">
            <input type="hidden" asp-for="CharacterID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Role" class="form-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Dialog" class="form-label"></label>
                <textarea asp-for="Dialog" class="form-control"></textarea>
                <span asp-validation-for="Dialog" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Translate" class="form-label"></label>
                <input asp-for="Translate" class="form-control" />
                <span asp-validation-for="Translate" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-area="Admin" asp-controller="Character" asp-action="Index" class="btn btn-secondary">Back to list</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
