@model Bures.Models.DictionaryWord
@{
    ViewData["Title"] = "Edit Test Word";
}

<h1>Edit Test Word / Sentence</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-controller="DictionaryWord" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Text" class="form-label">Text (Northern Sami)</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type" class="form-label">Type (word / sentence / verb / noun ...)</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="StoryActId" class="form-label">Story Act Id</label>
                <input asp-for="StoryActId" class="form-control" />
                <span asp-validation-for="StoryActId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Translation / Description (Norwegian)</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a asp-controller="DictionaryWord" asp-action="Index" class="btn btn-secondary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


