/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    
    white-space: normal;
    text-align: center;
    word-break: break-all;
    
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Do not use a full-width top border on the footer */
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Language dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Footer style: short line in the middle and centered content */
.footer {
    position: fixed; /* or absolute if you prefer (will discuss in group and come to a conclution)*/
    bottom: 0;
    width: 100%;
    line-height: 1.4;
    padding: 12px 0;
    background: #fff; /* optional, matches header (explore creative color combinations and matches)*/
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* adjust the length of the line */
.footer .footer-line {
    width: 250px;
    height: 2px;
    background: #e5e5e5;
    margin-bottom: 8px;
    border-radius: 2px;
}
